body {
  background: antiquewhite;
}

.center-center-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.center-center-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
